<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <style>
        body{
            background-color:blue;
        }
    </style>
</head>
<body>
    {{>usernavbar}}
    
    <br><br>
    <h1><font color="black" size="5">Welcome {{name}} to Home(private) page</font></h1>
        {{>footer}}

</body>
</html>