<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <br><br>
    <img src="images/etark2.jpeg">
    <div>
        <center>
            <h1 class="textcls">Welcome to ETark...!!</h1>
            <h2 class="textcls">To Know more about ETark, please sign up or sign in !</h2>
        </center>
    </div>

    {{>footer}}
</body>
</html>